In [2]:
import pandas as pd
df = pd.read_csv('c:/data/movies/tmdb_5000_movies.csv')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
#필요한 필드만 선택
df = df[['id','genres', 'vote_average', 'vote_count','popularity','title', 'keywords', 'overview']]
df

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",6.6,238,14.269792,El Mariachi,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",5.9,5,0.642552,Newlyweds,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",7.0,6,1.444476,"Signed, Sealed, Delivered","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,[],5.7,7,0.857008,Shanghai Calling,[],When ambitious New York attorney Sam is sent t...
4802,25975,"[{""id"": 99, ""name"": ""Documentary""}]",6.3,16,1.929883,My Date with Drew,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [4]:
df[['genres', 'keywords']].head()

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [5]:
dict1 = "{'a': 3, 'b': 5}"
print(type(dict1)) # 스트링
#print(dict1['a']) # 스트링이므로 에러가 발생함
#print(dict1['b'])
dict2 = eval(dict1) # 자료형을 스트링에서 딕셔너리로 변환
print(type(dict2))
print(dict2['a'])
print(dict2['b'])

<class 'str'>
<class 'dict'>
3
5

In [6]:
#스트링을 딕셔너리 타입으로 변경
# eval('문자열') - 문자열 내에 포함된 파이썬 명령어를 실행하는 함수
df['genres'] = df['genres'].apply(eval)
df['keywords'] = df['keywords'].apply(eval)

In [7]:
# 딕셔너리 내부의 하위 변수들을 합쳐서 변수 1개에 저장(1개의 문자열로 합치는 과정) - lambda 람다식
df['genres'] = df['genres'].apply(lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))
df['keywords'] = df['keywords'].apply(lambda x : [d['name'] for d in x]).apply(lambda x : " ".join(x))

In [16]:
df['genres']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()

In [9]:
#장르에 대한 출현빈도 계산
c_vector_genres = count_vector.fit_transform(df['genres']).toarray()
c_vector_genres

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
#코사인 유사도 계산
genre_c_sim = cosine_similarity(c_vector_genres, c_vector_genres).argsort()[:, ::-1]

In [18]:
# 영화 추천 함수
def get_recommend_movie_list(data, movie_title, top=10):
    # 특정 영화 검색
    target_movie_index = data[data['title'] == movie_title].index.values
    # 코사인 유사도 상위 10행
    sim_index = genre_c_sim[target_movie_index, :top].reshape(-1)
    # 아이디가 같은 self row 제외
    sim_index = sim_index[sim_index != target_movie_index]
    # data frame으로 만들고 vote_count으로 정렬한 뒤 return
    result = data.iloc[sim_index].sort_values('vote_average', ascending=False)[:10]
    return result

In [19]:
df[df['title'] == 'Toy Story']

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
1541,862,Animation Comedy Family,7.7,5269,73.640445,Toy Story,jealousy toy boy friendship friends rivalry bo...,"Led by Woody, Andy's toys live happily in his ..."

In [20]:
get_recommend_movie_list(df, movie_title='Toy Story')

,id,genres,vote_average,vote_count,popularity,title,keywords,overview
231,585,Animation Comedy Family,7.5,5996,106.815545,"Monsters, Inc.",monster infant energy supply company rivalry h...,"James Sullivan and Mike Wazowski are monsters,..."
343,863,Animation Comedy Family,7.3,3806,73.575118,Toy Story 2,museum prosecution identity crisis airplane fl...,"Andy heads off to Cowboy Camp, leaving his toy..."
1555,11836,Animation Comedy Family,6.7,574,27.870755,The SpongeBob SquarePants Movie,ocean sea star water freeze spongebob,There's trouble brewing in Bikini Bottom. Some...
1293,62214,Animation Comedy Family,6.6,932,27.908783,Frankenweenie,shyness stop motion black and white retro dog ...,"When a car hits young Victor's pet dog Sparky,..."
347,22794,Animation Comedy Family,6.5,1747,46.781182,Cloudy with a Chance of Meatballs,weather food science,Inventor Flint Lockwood creates a machine that...
496,109451,Animation Family Comedy,6.4,915,41.247402,Cloudy with a Chance of Meatballs 2,inventor food scientist,After the disastrous food storm in the first f...
173,65759,Animation Comedy Family,5.8,373,17.773500,Happy Feet Two,penguin musical aftercreditsstinger 3d,Mumble the penguin has a problem: his son Erik...
692,9982,Animation Family Comedy,5.6,944,47.973995,Chicken Little,fish small town space marine chicken alien bes...,When the sky really is falling and sanity has ...
481,10715,Animation Comedy Family,5.6,297,16.715631,Looney Tunes: Back in Action,spy duck bunny wretch film industry live actio...,Bugs Bunny and Daffy Duck are up to their feud...
766,9513,Animation Comedy Family,5.1,464,16.930969,Garfield: A Tail of Two Kitties,london england cat mistake in person luxury wr...,Garfield is back and this time Garfield and hi...

In [15]:
df['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4803, dtype: object