In [3]:
import glob
# 긍정리뷰 100개 불러오기
pos_review=(glob.glob("c:/data/imdb/train/pos/*.txt"))[:100]
lines_pos=[]
for i in pos_review:
    try:
        f = open(i, 'r')
        temp = f.readlines()[0]
        lines_pos.append(temp)
        f.close()
    except Exception as e:
        continue
len(lines_pos)

100

In [13]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import pandas as pd

                            # \w : 특수문자 제거, 알파벳, 숫자, _
tokenizer = RegexpTokenizer('[\w]+')
stop_words = stopwords.words('english') # 영어 불용어
#동시출현 단어 계산
count = {} # 동시출현 빈도가 저장될 dict
for line in lines_pos:
    words = line.lower()
    tokens = tokenizer.tokenize(words)
    # 불용어 제거, 불용어에 br 추가
    stopped_tokens = [i for i in list(set(tokens)) if i not in stop_words+["br"]]
    # 글자수가 1인 단어 제외
    stopped_tokens2 = [i for i in stopped_tokens if len(i)>1]
    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b:
                count[b, a] = count.get((b, a),0) + 1
            else :
                count[a, b] = count.get((a, b),0) + 1
#딕셔너리로부터 데이터프레임 생성
df=pd.DataFrame.from_dict(count, orient='index')
#리스트 구성
list1=[]
for i in range(len(df)):
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])

In [14]:
df2=pd.DataFrame(list1, columns=["term1","term2","freq"])
df3=df2.sort_values(by=['freq'],ascending=False)
df3_pos=df3.reset_index(drop=True)
# 동시출현 단어 페어 빈도 상위 20개 출력
df3_pos.head(20)
#film과 story 총 41회 동시에 출현

    term1  term2  freq
0   movie    one    41
1    film  story    41
2    film  movie    35
3   movie  story    35
4     one  story    33
5    good  movie    32
6    film    one    31
7   movie    see    30
8     one    see    27
9    film   like    27
10  great  movie    26
11   film   good    26
12   like  movie    26
13   good  story    26
14   good    one    25
15   film   time    25
16   film   well    25
17  movie   time    25
18  movie   much    25
19   film    see    24

In [16]:
#부정 리뷰에 적용
neg_review=(glob.glob("c:/data/imdb/train/neg/*.txt"))[:100]
lines_neg=[]
for i in neg_review:
    try:
        f = open(i, 'r')
        temp = f.readlines()[0]
        lines_neg.append(temp)
        f.close()
    except Exception as e:
        continue
len(lines_neg)
count = {} # 동시출현 빈도가 저장될 dict
for line in lines_neg:
    words = line.lower()
    tokens = tokenizer.tokenize(words)
    stopped_tokens = [i for i in list(set(tokens)) if not i
    in stop_words+["br"]]
    stopped_tokens2 = [i for i in stopped_tokens if
    len(i)>1]
    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b:
                count[b, a] = count.get((b, a),0) + 1
            else :
                count[a, b] = count.get((a, b),0) + 1
df=pd.DataFrame.from_dict(count, orient='index')
list1=[]
for i in range(len(df)):
    list1.append([df.index[i][0],df.index[i][1],df[0][i]])
df2=pd.DataFrame(list1, columns=["term1","term2","freq"])
df3=df2.sort_values(by=['freq'],ascending=False)
df3_neg=df3.reset_index(drop=True)
df3_neg.head(20)
#film과 movie가 총 42회 동시에 출현

    term1   term2  freq
0    film   movie    42
1    like   movie    40
2   movie     one    38
3    film     one    35
4    like     one    33
5    even   movie    32
6    good   movie    32
7    even    like    31
8    good     one    30
9    film    like    29
10   film    good    28
11  movie   would    27
12   good    like    27
13  movie    much    26
14   film  really    25
15    bad   movie    25
16   even    film    25
17    bad     one    25
18   film   would    25
19   even    good    25

In [6]:
import numpy as np
from scipy import sparse
# 밀집행렬(dense array) 
a=np.array([[0.5,0,0],[0,1,0],[0.7,0,1.5]])
# 밀집행렬을 희소행렬(sparse array)로 변환
# 밀집행렬의 단점 : 0이 많을 경우 메모리 낭비가 될 수 있음
# 희소행렬은 0이 아닌 값들의 위치와 값만 기록하여 메모리를 절약하는 방식
b=sparse.csr_matrix(a)
print('{}'.format(b))
# (0,0) 0.5 => 인덱스 0,0에 값 0.5
# (1,1) 1 => 인덱스 1,1에 값 1
# (2,0) 0.7 => 인덱스 2,0에 값 0.7
# (2,2) 1 => 인덱스 2,2에 값 1.5
c=b.toarray() # 희소행렬을 밀집행렬로 변환
print(c)

  (0, 0)	0.5
  (1, 1)	1.0
  (2, 0)	0.7
  (2, 2)	1.5
[[0.5 0.  0. ]
 [0.  1.  0. ]
 [0.7 0.  1.5]]